# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
*.sqlite3
*.db

# Django
/static/
media/
app.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!**/migrations/__init__.py

# Others
*.bak
*.swp
*.swo
